<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">
      <div class="autos-nuevos">
        <div class="category">
          <h3 class="title is-5">Autos</h3>
          <div class="auto">
            <nuxt-link to="/autos/mazda-2">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda 2</div>
              <div class="bx_precio">Desde: $248,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_2_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazda-3">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda 3 Sedán</div>
              <div class="bx_precio">Desde: $270,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_3_sedan_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazda-3-hatchback">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda 3 Hatchback</div>
              <div class="bx_precio">Desde: $300,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_3_hatchback_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazda-6">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda 6</div>
              <div class="bx_precio">Desde: $377,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_6_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
        <div class="category">
          <h3 class="title is-5">Suvs</h3>
          <div class="auto">
            <nuxt-link to="/autos/mazdaCX-3">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda CX-3</div>
              <div class="bx_precio">Desde: $319,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_cx_3_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazdaCX-5">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda CX-5</div>
              <div class="bx_precio">Desde: $389,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_cx_5_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazdaCX-9">
              <div class="bx_header">2018</div>
              <div class="car_name">Mazda CX-9</div>
              <div class="bx_precio">Desde: $609,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_cx_9_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
        <div class="category">
          <h3 class="title is-5">Roadsters</h3>
          <div class="auto">
            <nuxt-link to="/autos/mazdaMX-5">
              <div class="bx_header">2017</div>
              <div class="car_name">Mazda MX-5</div>
              <div class="bx_precio">Desde: $656,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_mx_5_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mazdaMX-5-RF">
              <div class="bx_header">2017</div>
              <div class="car_name">Mazda MX-5 RF</div>
              <div class="bx_precio">Desde: $466,900</div>
              <div class="photo">
                <img src="/images/autos/mazda_mx_5_rf_2018_flydown_v3.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"

</style>
